body {
    /* 0px as due to Chrome default. */
    margin: 0px;
        /* background color and image allotment */
    color: white;
    background-image: url(PokemonImage.jpg);
    background-position: 100%;
}

/* A container that's positioned overlay of elements*/
/* Set both items below .card and .front-face to relative/absolute inside this container~ */
#game_grid {
    background-color: aliceblue;
    border: 2px orange solid;
    width: 600px;
    height: 400px;
    /* center both horizontally/vertically */
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* declare it to perspective, to allow us to create 3-D  */
    /* Object = Screen */
    /* The perspective is the distance between you and the object. 
    Higher is further*/
    perspective: 1000px;
}


/* card class leave it as it is */
.card {
    width: 33.3%;
    position: relative;
    /* transition is allowing for period of time of transformation */
    transition: transform 1s;
    /*How Part -> given the perspective container declaration */
    transform-style: preserve-3d;
}

/* Apply flip first to the .card (rotation) Like looking into a mirror*/
/* Rotate on Y-axis, we can click on it and it'll toggle from jQuery */

.flip {
    transform: rotateY(180deg);
}

img {
    width: 100px;
    height: 125px;
    border-radius: 3px;
}

/* front/back face rules */
/* absolute here, relative on card for cards to stack */
/* Absolute does not work unless it's nearest ancestor(parent) has a position like relative */
/* So far, this allows the front/face and backface images to stay in the position of the parent (relative) */
/* Relative then is positioned based on the body */
/* top and bototm positions in each other are 0px, so we can reposition it if we need */
/* is inside the card container, of the card container that's fitting 33% of the main game grid. */
/* top/right positioning by pixel */
.front-face,
.back-face {
    position: absolute;
    width: 100%;
    height: 100%;

    /* flip and hide both front-face/back-face | not to card*/
    backface-visibility: hidden;
}


/* Apply us a new transformation after click and flip */

.front-face {
    transform: rotateY(180deg);
}


/* Before Game Logic */