<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Felix's login page!</title>
    <link rel="stylesheet" href="../styles/RegistrationStyle.css">
</head>
<body>

    <div class="login-form">
        <h3>Login Page</h3>
        <form action="/login" method="POST">
            <div class="input-group">
                <label for="email">Email:</label>
                <input type="email" name="email" id="">
            </div>
            <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" name="password" id="">
            </div>
            <button>Login</button>
        </form>
        <a href="../public/search.html">Register Test</a>
    </div>
    
</body>
</html>